@mixin tilted($angle, $color) {
	$height: get-tilted-height($angle);

	position: relative;
	background-color: $color;

	&::before {
		content: '';
		padding-top: $height;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 100%;
		background-image: linear-gradient($angle, $color 50%, transparent 50%);
	}
}